<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/saveUser}" th:object="${user}">

    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username">
    <br/>

    <label for="yearOfBirth">Enter yearOfBirth:</label>
    <input type="text" th:field="*{yearOfBirth}" id="yearOfBirth">
    <br/>

    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password">
    <br/>

    <label for="role">Roles</label>
    <select size="2" multiple th:field="*{roles}" id="role">
        <option th:each="role : ${listRoles}"
                th:value="${role.name}"
                th:text="${role.name}">
        </option>
    </select>

    <br/>
    <input type="submit" value="Add">
</form>
</body>
</html>